<router-outlet>
    <h2 class="title">Item Info</h2>

    <div class="container">
        <form method="post" #frm="ngForm" (ngSubmit)="update(id, frm)" class="row g-3">

            <div class="form-group" class="col-md-4">
                <label for="id">Item Code:</label>
                <input type="text" id="id" name="id" class="form-control" placeholder="" [(ngModel)]="id" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="" [(ngModel)]="item.name"
                    required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" class="form-control" placeholder=""
                    [(ngModel)]="item.price" required />
            </div>

            <div class="form-group" class="col-md-4">
                <label for="percentage">Percentage:</label>
                <input type="text" id="percentage" name="percentage" class="form-control" placeholder=""
                    [(ngModel)]="item.percentage" required />
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit" class="btn btn-primary"
                    [disabled]="frm.invalid">Salvar</button>
                <button [routerLink]="['/home']" class="btn btn-primary mr-2">Back</button>
            </div>

        </form>

    </div>
</router-outlet>