.container {
    color: #FFF;
    text-align: center;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: large;
}

.title {
    text-align: center;
    margin-top: 50px;
    color: #FFF;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 50px;
    display: block;
}

#id {
    margin-bottom: 20px;
}

#name {
    margin-bottom: 20px;
}

#price {
    margin-bottom: 20px;
}

#percentage {
    margin-bottom: 20px;
}

.btn {
    font-size: large;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.btn-primary {
    margin-bottom: 10px;

}