<router-outlet>

    <body>
        <h2 class="header">Items List</h2>

        <br>

        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Filter By:</label>

            <input [(ngModel)]="filter" class="form-control">
        </div>

        <br>
        <br>

        <button routerLink="/create" class="btn btn-primary1">
            Create Item</button>

        <button routerLink="/update" class="btn btn-primary2">
            Update Item</button>

        <div class="container">
            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead class="cabecalho">
                    <tr class="columm">
                        <th>Name</th>
                        <th>Price</th>
                        <th>Code</th>
                        <th>Percentage</th>
                        <th>Addition Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody class="lines">
                    <tr *ngFor="let item of items | filter: filter">
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.percentage }}</td>
                        <td>{{ item.createdDate | date: 'dd/MM/yyyy' }}</td>
                        <td><button class="remover" (click)="remover(item.id)">Remover</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </body>
</router-outlet>